# NB08 â€“ Benchmarking Results Analysis

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("../../data/ChatLSE Model Benchmarking.xlsx", header=1, usecols='B:N')

df.columns = ["tester_name", "model", "is_summariser", "question", "accuracy", "coherence", "fluency", "groundedness", "relevance", "full_json_log", "conversation_length", "comments", "total_score"]
df_scores = df[["model", "question", "accuracy", "coherence", "fluency", "groundedness", "relevance", "total_score"]].dropna()

df_scores["model"] = df_scores["model"].apply(lambda x: x.rstrip())
df_scores["model"] = df_scores["model"].apply(lambda x: x.lower())
df_scores["question"] = df_scores["question"].apply(lambda x: x.lower())

df_scores.head()

,model,question,accuracy,coherence,fluency,groundedness,relevance,total_score
1,mistral,how do i apply for paternity leave?,5.0,4.0,5.0,3.0,5.0,22.0
2,llama,how do i apply for paternity leave?,4.0,4.0,5.0,4.0,3.0,20.0
3,llama,"how do i get a ""no objection"" letter from the ...",5.0,5.0,5.0,1.0,2.0,18.0
4,mistral,"how do i get a ""no objection"" letter from the ...",4.0,4.0,5.0,4.0,3.0,20.0
5,mistral,can i study abroad as an lse student?,2.0,4.0,5.0,5.0,0.0,16.0

In [7]:
df_grouped_qn = df_scores.groupby(["question", "model"]).agg("mean").reset_index().round(2)
df_eval = df_grouped_qn.drop("question", axis=1).groupby("model").agg("mean").round(2)

df_eval

         accuracy  coherence  fluency  groundedness  relevance  total_score
model
llama        3.68       4.72     4.95          4.50       4.01        21.85
mistral      3.46       4.26     4.98          3.64       3.64        19.87